---
// Industry Accreditations Section Component with Improved Responsive Approach
---

<section class='bg-topography py-5'>
  <div class='container'>
    <!-- Heading Section - Responsive with Bootstrap -->
    <h2 class='text-center mb-3 mb-md-4 mobile-heading-adjust'>
      <span class='d-none d-md-inline'>INDUSTRY LEADING ACCREDITATIONS</span>
      <span class='d-md-none'>Industry Accreditations</span>
    </h2>

    <!-- Description text - Different for mobile vs desktop -->
    <p class='text-center mx-auto px-3 mb-4 mb-md-5' style='max-width: 800px;'>
      <span class='d-none d-md-inline'>
        Our commitment to putting your needs above everything is supported by
        our dedication to being the most educated and qualified Land Specialists
        with the deepest understanding of the land market. We're ready to show
        you why we are the trusted choice for helping sellers reach their goals
        quickly and maximizing their property's value.
      </span>
      <span class='d-md-none'>
        Accreditations for our Land Specialists assures our land buyers and
        sellers that they're working with the most knowledgeable, dedicated and
        qualified agents available
      </span>
    </p>

    <!-- Accreditations List - Using Bootstrap Grid for Responsiveness -->
    <div class='row justify-content-center g-4'>
      <!-- NDA Deer Steward Level I -->
      <div class='col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4'>
        <div class='mb-3'>
          <img
            src='/images/certifications/nda-logo.png'
            alt='NDA Deer Steward Level I'
            class='img-fluid mx-auto'
            style='max-height: 100px;'
          />
        </div>
        <p class='fw-bold mb-0'>NDA Deer Steward Level I</p>
      </div>

      <!-- NDA Deer Steward Level II - Only visible on desktop -->
      <div
        class='col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 d-none d-md-block'
      >
        <div class='mb-3'>
          <img
            src='/images/certifications/NDA-logo.png'
            alt='NDA Deer Steward Level II'
            class='img-fluid mx-auto'
            style='max-height: 100px;'
          />
        </div>
        <p class='fw-bold mb-0'>NDA Deer Steward Level II</p>
      </div>

      <!-- Accredited Land Consultant -->
      <div class='col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4'>
        <div class='mb-3'>
          <img
            src='/images/certifications/ALC-logo.png'
            alt='Accredited Land Consultant'
            class='img-fluid mx-auto'
            style='max-height: 100px;'
          />
        </div>
        <p class='fw-bold mb-0'>Accredited Land Consultant</p>
      </div>

      <!-- FAA Part 107 Remote Pilot Certification -->
      <div class='col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4'>
        <div class='mb-3'>
          <img
            src='/images/certifications/FAA-logo.png'
            alt='FAA Part 107 Remote Pilot Certification'
            class='img-fluid mx-auto'
            style='max-height: 100px;'
          />
        </div>
        <p class='fw-bold mb-0'>FAA Part 107 Remote Pilot Certification</p>
      </div>

      <!-- Whitetail Properties Certified Land Specialist -->
      <div class='col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4'>
        <div class='mb-3'>
          <img
            src='/images/certifications/WPCLS-logo.png'
            alt='Whitetail Properties Certified Land Specialist'
            class='img-fluid mx-auto'
            style='max-height: 100px;'
          />
        </div>
        <p class='fw-bold mb-0'>
          Whitetail Properties Certified Land Specialist
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Only custom CSS required is for the background images -->
<!-- <style>
  .bg-topography {
    background-color: #f8f9fa;
    background-image: url("https://lightsail.wpsitestage.dev/build/assets/background-topography-top-left-Bq41VDsp.svg"),
      url("https://lightsail.wpsitestage.dev/build/assets/background-topography-bottom-right-fz0-uggA.svg");
    background-position:
      top left,
      bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size:
      20% auto,
      20% auto;
  }

  /* Media query for responsive background sizing */
  @media screen and (max-width: 768px) {
    .bg-topography {
      background-size:
        30% auto,
        30% auto;
    }

    /* Adjust heading size on mobile */
    .mobile-heading-adjust {
      font-size: 2rem;
    }
  }
</style> -->
